:root {
    --texthue: 0;
}

@font-face {
    font-family:  "SchibstedGrotesk";
    src:  url("fonts/SchibstedGrotesk-Italic-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "SchibstedGrotesk";
    src:  url("fonts/SchibstedGrotesk-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    background-color: hsl(var(--texthue), 30%, 90%);
    font-size: 1.0em;
}

div.posts {
    width: 80%;
    margin-left: auto; margin-right:auto;
}



@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body {
        font-size: 2.4em;
    }

    div.posts {
        width: 95%;
    }
}

body.dark {
    background-color: hsl(var(--texthue), 25%, 10%);
}

section {
    padding: 10px; margin:10px;
    min-width: 200px;
}

a, body, .fancy {
    color: hsl(var(--texthue), 100%, 15%);
    text-align:justify;
    line-height: 1.5em;
    font-family: SchibstedGrotesk, 'Times New Roman', Times, serif;
}

h1 a, h2 a, h3 a {
    line-height:  0;
}

.dark h2 a.aside {
    color: hsl(calc(var(--texthue) + 270), 100%, 80%);
}

h2 a.aside {
    color: hsl(calc(var(--texthue) + 90), 100%, 20%);
}

.fancy {
    font-style: italic;
    font-weight: bolder;
}

a {
    color: hsl(calc(var(--texthue) + 270), 100%, 35%);
    text-decoration: none;
}

.dark a {
    color: hsl(calc(var(--texthue) + 225), 100%, 75%);
}

body.dark, .dark .fancy {
    color: hsl(var(--texthue), 100%, 75%);
}

h1, h2, h3 {

    font-family: 'SchibstedGrotesk', 'Times New Roman', Times, serif;
    text-align:justify;
    font-weight: regular;
  /*  font-style: italic;*/
    font-weight: 700;
    
}

div.card {
    break-inside: avoid;
    page-break-inside: avoid;
}

h1 {
    color: hsl(var(--texthue), 100%, 0%);
    font-size: 10.5em;
    letter-spacing: -0.07em;
}

.dark h1 {
    color: hsl(var(--texthue), 100%, 99%);
}


h2 {
    color: hsl(calc(var(--texthue) + 90), 100%, 30%);
    font-size: 2em;
}
.dark h2 {
    color: hsl(calc(var(--texthue) + 180), 100%, 60%);
}

h3 {
    color: hsl(var(--texthue), 100%, 20%);
    font-size: 1.3em;
}
.dark h3 {
    color: hsl(var(--texthue), 100%, 80%);
}

.aside {
    font-size: .7em;
    vertical-align: super;
    text-decoration: none;
}

.code {
    font-size: 0.8em;
    background: hsl(var(--texthue), 100%, 10%);
    color: hsl(var(--texthue), 100%, 100%);
    padding: 1px;
    border: 1px solid hsl(var(--texthue), 100%, 80%);
    font-family:'Courier New', Courier, monospace;
}

img {
    float: left;
    display: block;
    padding: 5px;
    width: 3em;
}

div.words {
    display: flex;
    flex-direction:row;
    align-items:top;
}

@media (max-width: 1650px) {
    div.words {
        flex-direction: column;
    }
    section {
        padding: 0 10px 0 10px;
        margin: 0 10px 0 10px;
    }
    h1 {
        font-size: 7em;
    }
}

@media (max-width: 1250px) {
    h1 {
        font-size: 5em;
    }
}

@media (max-width: 1250px) {
    h1 {
        font-size: 5em;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 3.5em;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 3em;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 2.5em;
    }
}


@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
}

/* the menu */

section.menu ul {
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.menu li {
    list-style: none;
    padding: 10px;
    line-height:1em;
    text-overflow:clip;
}



/* photo gallery */

section.photos article {
    display: flex;
    gap: 3px;
}

div.photo {
    width: 700px;
    height: 700px;
    background:  hsl(var(--texthue), 100%, 30%);
    color:  hsl(var(--texthue), 100%, 90%);
    font-size: 0.5em;
    text-align:center;
    border: 1px solid hsl(var(--texthue), 100%, 10%);
}