body {
}

.copier {
	position: relative;
	float: left;
	clear: left;
	padding: 1em;
	border: 1px solid black;
	transition: background-color 0.2s ease;	
}

.grabber {
	cursor: grab;
	border: 1px solid black;
	float:  right;
	padding: 0;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: black;
	display: none;
}

.grabber.show {
	display: block;
}

.highlighted {
	background-color: #e3fcff;
}

input {
	font: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
}
