<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0">
        <title>kevdog dot cool</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/pics/kevin-favicon.gif">
        <script src="/fancy.js"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-NTCRBYHZGQ');
        </script>
    </head>
<body>
    <section class="menu">
        <ul>
            <li><a href="/">🐶 kevdog (dot) cool</a></li>
            <li><a target="o" href="https://github.com/kmooney">💾 github</a></li>
            <li><a href="#" class="darkmode">🌠 dark mode?</a></li>
            <li><a href="#" class="funmode">✨ fun mode?</a></li>
            <li><a href="/resume.pdf">📜 resume</a></li>
            <li><a href="/now">🕰️ now</a></li>
        </ul>
    </section>
    <div class="posts">
        {% block about %} {% endblock about %}
        <section class="content posts">
           {% block content %} {% endblock content %}
        </section>
    </div>
    <script src="/foot.js"></script>
</body>
</html>
