<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0">
        <title>kevdog.cool</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/pics/kevin-favicon.gif">
        <script src="/fancy.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NTCRBYHZGQ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-NTCRBYHZGQ');
        </script>
    </head>
<body>
    <section class="menu">
        <ul>
            <li><a href="/">kevdog.cool</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a target="o" href="https://github.com/kmooney">github</a></li>
            <li><a target="o" href="https://twitter.com/MayorCloudCity">tweets</a></li>
            <li> <a href="#" class="darkmode">dark mode?</a></li>
            <li><a href="#" class="funmode">fun mode?</a></li>
            <li><span class="fancy">kevin@kevdog.cool</span></li>
        </ul>
    </section>
    <div class="words">
        {% block about %} {% endblock about %}
        <section class="content projects">
           {% block content %} {% endblock content %}
        </section>
    </div>
    <script src="/foot.js"></script>
</body>
</html>
