{% extends "base.html" %}

{% block about %} 
<section class="content about">
    <h1>Hi. I'm Kevin</h1>
    <div class="card">
        <p>
            I&rsquo;m Kevin, and I am a person living in Austin Texas.
            I like making odd things to share with my friends, and this is a place
            for sharing those things. During the day, I work on seller tools at 
            <a target="bc_" href="https://bandcamp.com">Bandcamp</a> and the rest of the time, I futz around with music 
            and I read some books. I make games sometimes. I'm trying to think of this as a &ldquo;notebook&rdquo; rather than a very public place.
        </p>
    </div>
</section>
{% endblock about %}

{% block content %}
    {% for note in section.pages %}
        <div class="card">
            <h2><a href="{{ note.path }}">{{ note.title }}</a></h2>
            <p>📆 <span class="fancy">{{ note.date }}</span></p>
            <p>{{ note.content|safe }}</p>
        </div>
    {% endfor %}
{% endblock content %}
