{% extends "index.html" %}

{% block about %} 
<section class="content about">
    <h1>Projects</h1>
    <div class="card">
        <p>
          Here are some projects! I&rsquo;ve worked on lots of goofy little things&mdash; many of &lsquo;em are games I&rsquo;ve worked on during <a href="https://ldjam.com">Ludum Dare</a> game jams. There are a few other projects I&rsquo;ve completed as, almost, elaborate jokes. Some of those jokes are not yet finished being told 😆
        </p>
    </div>
</section>
{% endblock about %}

{% block content %}{%endblock content %}
