<!doctype html>
<html>
<head><title>Copier Test</title>
	<link rel="stylesheet" href="test-style.css">
</head>
<body>
	<h1>Quick copy test</h1>

	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>
	<div class="copier">
		<label>composer:<input type="text" placeholder="(optional)"><div class="grabber"></div></label>
	</div>

	<script src="test-foot.js"></script>
</body>
</html>
